/* p:hover > em {
  color: pink;
}

p:hover > em > em {
  color: green;
  background-color: gray; 
} */

p:hover + p:nth-child(2) {
  color: green;
}

.menu {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  height: 50px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.content {
  position: relative;
  top: 60px;
  z-index: -1;
}

.small {
  position: relative;
  top: 50px;
  left: -50px;
}

.pulled-down {
  margin-top: 50px;
}

body {
  background-color: yellow;
}
@media screen and (max-width: 500px) {
  body {
    /* background-color: red; */
  }
}


.container {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background-color: blue;
  min-height: 20px;
  margin: 10px;
}
.item:nth-child(1) {
  flex-basis: 100%;
}
.item:nth-child(2) {
  flex-grow: 1;
}
.item:nth-child(3) {
  flex-grow: 30;
}
.item:nth-child(4) {
  flex-basis: 100%;
}

input:invalid {
  border: 1px solid red;
}